@import "../../vars.css";

.container {
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 1;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: clamp(2.5rem, 2vw, 6.25rem);
  font-weight: 700;
  font-family: var(--font-caveat);
  letter-spacing: clamp(0.5rem, 1vw, 1rem);
  z-index: 1;
  align-items: flex-start;
}

.projects {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  z-index: 1;
}
.topBlur {
  position: absolute;
  width: 60vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 760px;
  background: rgba(95, 7, 143, 0.9);
  filter: blur(100px);
  z-index: 0;
}
.bottonBlur {
  position: absolute;
  width: 80vw;
  height: 90vw;
  min-width: 350px;
  min-height: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(157, 125, 197, 0.9);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
