@import "../../vars.css";

.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top:50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: clamp(2rem, 2vw, 3.125rem);
    font-weight: 400;
    font-family: var(--font-nunito);  
    z-index: 1;
}

.description1 {
    font-size: clamp(2rem, 2vw, 3.125rem); 
    font-family: var(--font-nunito);
    z-index: 1;
}

.description2 {
    font-size: clamp(3rem, 4vw, 6.25rem);
    font-family: var(--font-caveat);
    z-index: 1;
}

.grullaImg{
    width: 40%;
    z-index: 1;
    justify-content: right;

    animation-name:floating;
    animation-duration: 5s;
    animation-iteration-count:initial;
    animation-timing-function:ease-in-out;
 }

 
 @keyframes floating{
     0%{
         transform: translate(0,0px) ;
   } 
   50%{
       transform: translate(0,100px);
   }
   100%{
    transform: translate(0,-0px);
   }
}

.topBlur{
 position: absolute;
 width: 60vw;
 height: 50vw;
 min-width: 350px;
 min-height: 350px;
 top: -128px;
 left:-10vw;
 border-radius: 760px;
 background: rgba(131, 13, 131, 0.76);
 filter:blur(100px);
 z-index: 0;
}
.bottonBlur{
 position: absolute;
 width: 80vw;
 height: 90vw;
 min-width: 350px;
 min-height: 250px;
 top: 246px;
 right:-25vw;
 border-radius: 764px;
 background: rgba(221, 170, 217, 0.705);
 filter:blur(100px);
 z-index: 0;      
}

@media screen and (max-width:830px){
   .container{
    flex-direction: column-reverse;
   } 
   
   .content{
    align-items: center;
   }
}


