@import "../../vars.css";

.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: top 80px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column
}

.content{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;

}

.title{

    font-size:50px;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: var(--font-caveat);
    z-index: 3;
    margin-top:40px
}

.projects{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 100%;
    z-index: 1
}
.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left:-10vw;
    border-radius: 760px;
    background: rgb(255, 203, 203,0.9);
    filter:blur(100px);
    z-index: 0;
   }
   .bottonBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right:-25vw;
    border-radius: 764px;
    background: rgb(255, 203, 203,0.9);
    filter:blur(100px);
    z-index: 0;      
   }


   @media screen and (max-width:830px){
   .container{
    flex-direction: column-reverse;
   } 
   
   .content{
    align-items: center;
   }
}