:root {
    /*Colors*/
    --color-text: #070F2B;
    --color-bg: #fffdec;
    --color-primary:rgb(217, 215, 241);
    --color-secondary: rgb(255, 203, 203);
    --color-tertiary: rgb(231, 251, 190);

    /*Fonts*/
    --font-nunito: 'Nunito Variable', sans-serif;;
    --font-caveat: 'Caveat Variable', cursive;
}