:root {
    /*Colors*/
    --color-text: #070F2B;
    --color-bg: #5d94e1bc;
    --color-primary:#d9d7f1;
    --color-secondary: #2ee9e2;
    --color-tertiary: #f0d8e7;

    /*Fonts*/
    --font-nunito: 'Nunito Variable', sans-serif;
    --font-caveat: 'Caveat Variable', cursive;
}