:root {
    /*Colors*/
    --color-text: #b1b9d3ea;
    --color-bg: #000000;
    --color-primary:#b1b9d3ea;
    --color-secondary: #2ee9e2;
    --color-tertiary: #3b0da991;

    /*Fonts*/
    --font-nunito: 'Nunito Variable', sans-serif;
    --font-caveat: 'Caveat Variable', cursive;
}